{
    "tabWidth": 4,
    "printWidth": 120,
    "overrides": [
        {
            "files": ["tests/**/*.js"],
            "options": {
                "printWidth": 10000000
            }
        }
    ]
}
